* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: "Montserrat", sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(images/banner-bg.jpeg) center no-repeat;
  background-size: cover;
}

.logo {
  height: 80px;
  width: 80px;
  position: fixed;
  top: 20px;
  left: 50px;
  z-index: 100;
}

.logo img {
  width: 100%;
}

.hamburger-menu {
  width: 45px;
  height: 35px;
  position: fixed;
  top: 40px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 100;
}

.line {
  width: inherit;
  height: 5px;
  background-color: #16c3cf;
  border-radius: 25px;
  transform-origin: right;
  transition: transform 0.5s;
}

.line-2 {
  height: 3px;
}

.change .line-1 {
  transform: rotateZ(-45deg);
}

.change .line-2 {
  transform: translate(5px, 20px);
}

.change .line-3 {
  transform: rotateZ(45deg);
}

.top-nav {
  height: 15vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/nav-bg.jpeg) no-repeat 50% 0;
  background-size: cover;
  position: fixed;
  top: -15vh;
  z-index: 50;
  transition: top 0.4s;
}

.change .top-nav {
  top: 0;
}

.nav-list {
  list-style: none;
  width: 80%;
  margin: auto;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  color: #ccc;
  background-color: #000;
  letter-spacing: 1px;
  padding: 5px 10px;
  display: block;
  position: relative;
}

.nav-link:hover {
  transform: rotateX(90deg);
}

.nav-link::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  bottom: -100%;
  background-color: #000;
  padding: inherit;
  color: #16c3cf;
  transform: rotateX(-90deg);
  transform-origin: top;
}

.bottom-nav {
  width: 100%;
  height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/nav-bg.jpeg) no-repeat 50% -15vh;
  background-size: cover;
  position: fixed;
  bottom: -85vh;
  transition: bottom 0.4s;
}

@media (max-width: 1200px) {
  .top-nav {
    background: #010101;
  }

  .nav-list {
    justify-content: center;
  }

  .nav-link {
    font-size: 25px;
  }
}

@media (max-width: 900px) {
  .top-nav {
    height: 25vh;
    top: -25vh;
  }

  .nav-list {
    width: 70%;
    flex-wrap: wrap;
    align-content: center;
  }

  .nav-link {
    margin: 3px 0;
  }
}
*/ @media(max-width: 750px) {
  .nav-list {
    width: 60%;
  }
}

@media (max-width: 550px) {
  .logo {
    width: 70px;
    height: 70px;
    left: 30px;
  }

  .top-nav {
    height: 30vh;
    top: -30vh;
  }
}

@media (max-width: 450px) {
  .top-nav {
    height: 35vh;
    top: -35vh;
  }

  .nav-list {
    width: 50%;
  }
}
