/* spotlight-height: 254px */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /* background-color: lightblue; */
}
li {
  list-style: none;
}
body {
  /* when 3 circles flex-wrap's, 
  we have to push down the body more */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main.info {
  margin-top: 32rem; /* wrap two circles */
}
@media (min-width: 525px) {
  /* wrap one circle */
  main.info {
    margin-top: 18rem;
  }
}
@media (min-width: 815px) {
  /* wrap no circles */
  main.info {
    margin-top: 0;
  }
}
.spacer {
  flex-grow: 1;
}

.info {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40% 60%;
}

.contact {
    grid-column: 3 / 5;
    background-color: #eb1c22;
    background-image: linear-gradient(to right bottom, #EFD9CE, #ffffff, #EFD9CE, #EFD9CE, #ffffff, #EFD9CE);
}

.hours {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-color: #eb1c22;
    background-image: linear-gradient(to right bottom, #EFD9CE, #ffffff, #EFD9CE, #EFD9CE, #ffffff, #EFD9CE);
}
.cosmic {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

@media  screen and (max-width: 700px) {
  .info {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 30% 20%;
}
  .about {
    grid-row: 1;
    grid-column: 1 / 5;
  }
  .hours {
    grid-row: 2;
    grid-column: 1 / 5;
  }
  .contact {
    grid-row: 3;
    grid-column: 1 / 5;
  }
}

.about {
    grid-row: 1;
    grid-column: 1 / 5;
    background-color: #3e48cd;
    background-image: linear-gradient(to right bottom, #98dfea, #ffffff, #98dfea);
}

.contact,
.hours,
.about {
  text-align: center;
  color: black;
  font-size: 1.2em;
  padding: 50px 45px;
}

.bowling {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 13% 34% 3%;
  text-align: center;
  color: black;
  font-size: 1.2em;
}

.bowling h2 {
  padding: 10px;
}

.freeBowl {
  grid-row: 3;
  grid-column: 1 / 6;
  background-color:#7b85c2;
  background-image: linear-gradient(to right bottom, #b9bedf, #7b85c2, #b9bedf, #b9bedf, #7b85c2, #b9bedf);
}

.freeBowl ul {
  padding: 5px 0px 5px 0px;
}

.public-bowling {
  grid-row: 1;
  grid-column: 2 / 3;
  background-color: #98dfea;
  background-image: linear-gradient(to right bottom, #98dfea, #ffffff, #98dfea);
  border-radius: 75px 75px;
  margin-bottom: 10px;
}

.public-bowling h2 {
  padding: 20px 10px 10px 10px;
}

.youth {
  grid-row: 2;
  grid-column: 1 / 6;
  background-color: #07beb8;
  background-image: linear-gradient(to right bottom, #07beb8, #ffffff, #07beb8);
  border-radius: 50px 50px 0px 0px;
}

.league-hours {
  grid-row: 1;
  grid-column: 4 / 5;
  background-color: #98dfea;
  background-image: linear-gradient(to right bottom, #98dfea, #ffffff, #98dfea);
  border-radius: 75px 75px;
  margin-bottom: 10px;
}

.league-hours h2 {
  padding: 30px 10px 10px 10px;
}

.footer {
  grid-row: 4;
  grid-column: 1 / 6;
  background-color: #3e48cd;
  height: 35px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media  screen and (max-width: 700px) {
  .bowling {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  .freeBowl {
    grid-row: 4;
    grid-column: 1 / 3;
  }
  .public-bowling {
    grid-row: 1;
    grid-column: 1 / 3;
  }
  .youth {
    grid-row: 3;
    grid-column: 1 / 3;
  }
  .league-hours {
    grid-row: 2;
    grid-column: 1 / 3;
    padding-top: 0;
  }
  .footer {
    grid-row: 5;
    grid-column: 1 / 3;
  }
}

.parties {
  text-align: center;
  color: black;
  font-weight: bolder;
  font-size: 1.2em;
  background-color: #7b85c2;
  background-image: linear-gradient(to right bottom, #b9bedf, #7b85c2, #b9bedf, #b9bedf, #7b85c2, #b9bedf);
  border-radius: 75px 75px;
  margin: 0% 33% 3% 33%;
}

.parties h1 {
  background-image: linear-gradient(to left, #eb1c22, #3e48cd);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 32px;
    padding: 15px 20px 0px 20px;
}

.parties h2 {
  font-size: 24px;
}

.pkg1 h2,
.pkg2 h2 {
  color: #3e48cd;
  padding-top: 10px;
}

.pkg1 p,
.pkg2 p {
  color: #eb1c22;
}

@media  screen and (max-width: 700px) {
  .parties {
    margin: 0px;
  }
}

.hero {
  /* height: calc(70vh + 127px); -- not good way to do */
  height: 100vh; /* The correct way to maintain footer at the bottom, always */
  overflow: visible;
  position: relative;
}

.background-image-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(images/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 75vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.background-image-bowling {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(images/pic7.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.background-image-packages {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(images/party4.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.background-image-dining {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(images/patio.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.nav-bar {
  display: flex;
  padding: 20px;
  /* background-color: hsla(0, 0%, 0%, 0.3); */
}
.nav-logo img {
  width: 250px;
  padding-left: 60px;
  padding-top: 10px;
}
#sandy-logo {
  width: 220px;
  margin-top: -30px;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links ul {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}
.nav-links ul a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.nav-links ul li::after {
  content: " ";
  width: 0;
  height: 2px;
  background: rgb(62, 72, 205);
  display: block;
  margin: auto;
  transition: 0.3s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.banner-title {
  color: #fff;
  padding: 10px;
}

.banner-title h1 {
  font-size: 64px;
  transform: skew(7deg, -6deg);
  text-align: center;
  padding-top: 50px;
}
.banner-title h3 {
  font-size: 35px;
  transform: skew(7deg, -6deg);
  text-align: center;
}
.banner-title h1 span {
  color: #3e48cd;
}
.beach-title {
  color: #fff;
  padding: 75px 10px 10px 10px;
}
.beach-title h3 a, 
.banner-title h3 a {
  color: #3e48cd;
  text-shadow: -1px 1px white;
}

.beach-title h1 {
  font-size: 64px;
  transform: skew(7deg, -6deg);
  text-align: center;
  font-family: "Great Vibes", cursive;
  text-shadow: 1px 1px salmon;
}
.beach-title h3 {
  font-size: 35px;
  transform: skew(7deg, -6deg);
  text-align: center;
}
.beach-title h1 span {
  color: #fd17e4;
  font-family: "Great Vibes", cursive;
}
.nav-bar .fa {
  display: none;
}
.faq {
  text-align: center;
  font-size: 1.2em;
  padding: 0% 10%;
}

.spotlight {
  /*border: 2px solid purple;*/
  position: absolute;
  top: calc(75vh - 127px); /* minus half the height */
  left: 0;
  right: 0;
  height: 254px;
}
.spotlight ul {
  display: inline;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  /* border: 2px dashed red; */
}
.spotlight h2 {
  color: #003355;
  text-shadow: -1px 2px rgb(214, 214, 214);
}
/* add space between circles (when they don't wrap) */
@media (min-width: 815px) {
  .spotlight ul a:not(:first-child) li {
    margin-left: 1em;
  }
}
.spotlight ul li {
  list-style: none;
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  height: 254px;
  width: 254px;
  justify-items: center;
  text-align: center;
  background-size: cover;
}
#league {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(images/bowling.jpg);
  /* background-position: center; */
  /*  The above mentioned comment is also the way the control the gradient or to darken the image */
}
#dining {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(images/dining2.jpg);
  background-position: center;
}
#package {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(images/pic6.jpg);
  background-position: center;
}
#league:hover,
#dining:hover,
#package:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in;
}
.spotlight ul li h2 {
  padding-top: 150px;
}
.spotlight ul a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 18px;
}
.spotlight ul li::after {
  content: " ";
  width: 0;
  height: 2px;
  background: rgb(62, 72, 205);
  display: block;
  margin: auto;
  transition: 0.3s;
}
.spotlight ul li:hover::after {
  width: 50%;
}

footer {
  background-color: #3e48cd; /* Originally 62, 168, 255 */
  height: 35px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  bottom: 0;
  width: 100vw; */
}

@media screen and (max-width: 700px) {
  .banner-title h1 {
    font-size: 45px;
  }
  .beach-title h1 {
    font-size: 45px;
  }
  .beach-title h3 a {
    font-size: 25px;
  }
  .nav-bar {
    padding: 10px 30px;
  }
  .fa-bars {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .nav-bar .fa {
    display: block;
    color: #fff;
    margin: 20px 25px 0px 25px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-logo img {
    width: 230px;
  }
  #sandy-logo {
    width: 190px;
  }
  .nav-links {
    height: 100vh;
    width: 275px;
    background: #000;
    top: 0;
    right: -275px;
    position: absolute;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  .nav-links ul {
    float: none;
  }
  .nav-links ul a {
    display: block;
  }
  .spotlight {
    flex: 1;
    /* border: 2px solid purple; */
  }

  #league {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
      url(images/bowling.jpg);
    /* background-position: center; */
    /*  The above mentioned comment is also the way the control the gradient or to darken the image */
  }
  #dining {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
      url(images/dining2.jpg);
    background-position: center;
  }
  #package {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
      url(images/pic6.jpg);
    background-position: center;
  }
  .nav-links ul li::after,
  .spotlight ul li::after {
    content: " ";
    width: 0;
    height: 4px;
    background: rgb(62, 72, 205);
    display: block;
    margin: auto;
    transition: 0.3s;
  }
  .nav-links ul li:hover::after {
    width: 100%;
  }
  .spotlight ul li:hover::after {
    width: 50%;
  }
}
#pullout {
  position: fixed;
  top: 120px;
  right: -230px;
  width: 266px;
  height: 280px;
  background: #f5f5f5;
  transition: all 0.5s ease;
}

#pullout.active {
  right: 0;
}

#pullout-inner {
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
  height: 280px;
}

#pullout-form {
  width: 230px;
  height: 280px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/covid19.jpg) no-repeat;
}

#pullout-tab {
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white;
  padding-left: 9px;
  padding-top: 15px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 280px;
  background: #eb1c22;
  cursor: pointer;
}

/* Covid-19 info page */
.covid19 {
  color: white;
  padding: 20px;
  width: 213px;
  text-align: center;
}
.covid19 h4 ul li {
  list-style-type: none;
  color: rgb(207, 207, 207);
  text-align: left;
}
.covid19 h4 ul li::before {
  content: "\1F637";
  margin-left: -15px;
  margin-right: 10px;
}
.covid19 h4 ul {
  margin-top: 20px;
}
.covid19 h2 {
  text-decoration: underline;
  text-shadow: 2px 2px salmon;
  margin-bottom: 20px;
}
@media  screen and (max-width: 700px) {
  #pullout {
    position: fixed;
    top: 12%;
    right: 45px;
  }
  #pullout.active {
    right: 275px;
  }
}

