/* body {
  background-color: rgb(255, 215, 177);
  margin: 0;
  padding: 0;
}

header {
  border: 5px rgb(202, 192, 192) solid;
}

section {
  border: 5px rgb(202, 192, 192) solid;
}

aside {
  border: 5px rgb(202, 192, 192) solid;
}

footer {
  border: 5px rgb(202, 192, 192) solid;
} */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(images/hero1.jpg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}

.nav-bar {
  display: flex;
  padding: 30px 120px;
}

.nav-logo img {
  width: 220px;
}

.nav-links {
  flex: 1;
}
.nav-links ul {
  margin-left: 50px;
  display: inline;
  float: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}
.nav-links ul a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.nav-links ul li::after {
  content: " ";
  width: 0;
  height: 2px;
  background: yellow;
  display: block;
  margin: auto;
  transition: 0.3s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.btn {
  padding: 10px 20px;
  border: 0;
  background: yellow;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8%;
}
.banner-title {
  margin: 80px 130px;
  color: #fff;
}
.banner-title h1 {
  font-size: 64px;
  margin-bottom: 30px;
}
.banner-title h1 span {
  color: yellow;
}
.vertical-bar {
  height: 100%;
  width: 80px;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  position: absolute;
}
.social-icons {
  height: 37%;
  width: 80px;
  background: yellow;
  text-align: center;
  padding-top: 27%;
  bottom: 0;
  position: absolute;
}
.social-icons .fa {
  margin: 15px 23px;
  display: block;
  padding: 8px;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
}
.nav-bar .fa {
  display: none;
}

@media (max-width: 700px) {
  .vertical-bar {
    display: none;
  }
  .banner-title {
    margin: 80px 40px;
  }
  .banner-title h1 {
    font-size: 50px;
  }
  .nav-bar {
    padding: 10px 30px;
  }
  .fa-bars {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .nav-bar .fa {
    display: block;
    color: #fff;
    margin: 20px 25px 0px 25px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-logo img {
    width: 230px;
  }
  .nav-links {
    height: 100vh;
    width: 200px;
    background: #000;
    top: 0;
    right: -200px;
    position: absolute;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  .nav-links ul {
    float: none;
  }
  .nav-links ul a {
    display: block;
  }
}
