* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%; /*<--*/
  grid-template-rows: 20% 20% 20% 20% 20%;
}

nav {
  height: 17vh;
  background: #05002e;
  position: relative;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

header nav ul img#logo {
  float: left;
  position: fixed;
  top: 0%;
  left: 0%;
}

footer {
  background: #05002e;
  position: fixed;
  bottom: 0%;
  width: 100%;
  text-align: center;
  height: 20px;
  padding: 10px;
  color: white;
}

.copyright {
  text-decoration: none;
  color: white;
}

.copyright:hover {
  text-decoration: underline;
}

.landing {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  height: 100vh;
  background: url("images/pic3resize.jpg") no-repeat;
  background-size: 100% 67%;
}

div.circles {
  float: left;
  display: inline-flex;
  margin-top: 200px;
}

.bowling1 {
  width: 13%;
  background: url("images/bowling1resize.jpg");
  background-position-y: center;
  border-radius: 50%;
  border: 5px white solid;
  margin-left: 15%;
  margin-top: 4%;
}

.dining {
  width: 13%;
  background: url("images/Bar&foodresize.jpg");
  border-radius: 50%;
  border: 5px white solid;
  margin-left: 15%;
  margin-top: 4%;
}

.bday {
  width: 13%;
  background: url("images/bdayresize.jpg");
  border-radius: 50%;
  border: 5px white solid;
  margin-left: 14%;
  margin-top: 4%;
}

.circles h2 {
  color: white;
  text-shadow: 2px 2px #05002e;
  text-align: center;
  justify-items: baseline;
  /* margin-top: 100px; */
  padding-top: 100px;
  padding-bottom: 20px;
}

.title h2 {
  float: right;
}

.title h1 {
  motion-rotation: reverse;
}

.title h1,
.title h2 {
  display: inline;
  color: #0073e6;
  font-size: 50px;
  text-shadow: 2px 2px #05002e;
  font-family: "Permanent Marker", cursive;
}

.info {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #05002e;
  color: white;
}

#contact,
.about,
.faq {
  display: grid;
  justify-content: center;
  margin-top: 10px;
}

.about h3 {
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-left: 46%;
}

/*.circles {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}*/

/* will put this back in after-----
section.bowling {
  height: 100vh;
  background: url("#") no-repeat;
  background-size: 1356px 768px;
}
section.contact {
  height: 100vh;
  background: url("#") no-repeat;
  background-size: 1356px 768px;
}
section.bar-food {
  height: 100vh;
  background: url("#") no-repeat;
  background-size: 1356px 768px;
}
section.parties {
  height: 100vh;
  background: url("#") no-repeat;
  background-size: 1356px 768px;
}*/

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: #05002e;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(80px at 90% -10%);
    -webkit-clip-path: circle(80px at 90% -10%);
    transition: all 0.6s ease;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1600px at 90% -20%);
    -webkit-clip-path: circle(1600px at 90% -20%);
    pointer-events: all;
  }

  .nav-links li a {
    font-size: 25px;
  }

  /* Working on making backgrounds better in responsive mode
  section.bar-food {
    height: auto;
    width: auto;
    background: url("images/Bar&food.jpg") no-repeat;
    background-size: 1024px 768px;
    background-position: 40%;
  } */
}
