* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(images/landing1.jpg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}
.nav-bar {
  display: flex;
  padding: 30px 120px;
}
.nav-logo img {
  width: 250px;
}
.nav-links {
  flex: 1;
}
.nav-links ul {
  margin-left: 50px;
  display: inline;
  float: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}
.nav-links ul a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.nav-links ul li::after {
  content: " ";
  width: 0;
  height: 2px;
  background: rgb(62, 168, 255);
  display: block;
  margin: auto;
  transition: 0.3s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.banner-title {
  margin: 80px 130px;
  color: #fff;
}
.banner-title h1 {
  font-size: 64px;
  margin-bottom: 30px;
}
.banner-title h1 span {
  color: rgb(62, 168, 255);
}
