/* spotlight-height: 254px */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /* background-color: lightblue; */
}
li {
 list-style: none;
}
body {
  /* when 3 circles flex-wrap's, 
  we have to push down the body more */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main.info {
  margin-top: 32rem; /* wrap two circles */
}
@media (min-width: 525px) {
  /* wrap one circle */
  main.info {
    margin-top: 18rem;
  }
}
@media (min-width: 815px) {
  /* wrap no circles */
  main.info {
    margin-top: 0;
  }
}
.spacer {
  flex-grow: 1;
}
.hero {
  height: calc(70vh + 127px);
  overflow: visible;
  position: relative;
}
.background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(images/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.nav-bar {
  display: flex;
  padding: 20px;
  background-color: hsla(0, 0%, 0%, 0.3);
}
.nav-logo img {
  width: 250px;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links ul {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}
.nav-links ul a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.nav-links ul li::after {
  content: " ";
  width: 0;
  height: 2px;
  background: rgb(62, 168, 255);
  display: block;
  margin: auto;
  transition: 0.3s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.banner-title {
  color: #fff;
  padding: 2em;
}
@media (min-width: 770px) {
  .banner-title {
    padding: 3em;
  }
}
.banner-title h1 {
  font-size: 64px;
  transform: skew(7deg, -6deg);
  text-align: center;
}
.banner-title h1 span {
  color: #3e48cd;
}
.nav-bar .fa {
  display: none;
}
.about,
.faq {
  display: none;
}

.spotlight {
  /*border: 2px solid purple;*/
  position: absolute;
  top: calc(70vh - 127px); /* minus half the height */
  left: 0;
  right: 0;
  height: 254px;
}
.spotlight ul {
  display: inline;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  /* border: 2px dashed red; */
}
.spotlight h2{
    color: #eb1c22;
}
/* add space between circles (when they don't wrap) */
@media (min-width: 815px) {
  .spotlight ul a:not(:first-child) li {
    margin-left: 1em;
  }
}
.spotlight ul li {
  list-style: none;
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  height: 254px;
  width: 254px;
  justify-items: center;
  text-align: center;
  background-size: cover;
}
#league {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(images/league.jpg); */
  /* The above mentioned comment is also the way the control the gradient or to darken the image */
  background-image: url(images/bowling.jpg);
}
#dining {
  background-image: url(images/pic9.jpg);
}
#package {
  background-image: url(images/pic6.jpg);
}
.spotlight ul li h2 {
  padding-top: 150px;
}
.spotlight ul a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 18px;
}
.spotlight ul li::after {
  content: " ";
  width: 0;
  height: 2px;
  background: rgb(62, 168, 255);
  display: block;
  margin: auto;
  transition: 0.3s;
}
.spotlight ul li:hover::after {
  width: 50%;
}
.contact {
  text-align: center;
  color: black;
  font-size: 1.2em;
  padding: 20px 45px;
}
footer {
  background-color: rgba(62, 168, 255, 0.8);
  height: 35px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .banner-title h1 {
    font-size: 45px;
  }
  .nav-bar {
    padding: 10px 30px;
  }
  .fa-bars {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .nav-bar .fa {
    display: block;
    color: #fff;
    margin: 20px 25px 0px 25px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-logo img {
    width: 230px;
  }
  .nav-links {
    height: 100vh;
    width: 200px;
    background: #000;
    top: 0;
    right: -200px;
    position: absolute;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  .nav-links ul {
    float: none;
  }
  .nav-links ul a {
    display: block;
  }
  .spotlight {
    flex: 1;
    /* border: 2px solid purple; */
  }

  #league {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
      url(images/league-responsive.jpg);
    background-position: center;
    /*  The above mentioned comment is also the way the control the gradient or to darken the image */
  }
  #dining {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
      url(images/dining-responsive.jpg);
    background-position: center;
  }
  #package {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
      url(images/package-responsive.jpg);
    background-position: center;
  }
  .nav-links ul li::after,
  .spotlight ul li::after {
    content: " ";
    width: 0;
    height: 4px;
    background: rgb(62, 168, 255);
    display: block;
    margin: auto;
    transition: 0.3s;
  }
  .nav-links ul li:hover::after {
    width: 100%;
  }
  .spotlight ul li:hover::after {
    width: 20%;
  }
}
